<section class="cart-show">

  <header class="page-header">
    <h1>My Cart</h1>
  </header>
  <% if enhanced_cart.length > 0 %>
    <%= render 'items' %>
  <% else %>
    <div>
      <span> You have 0 Items in Cart please add items before checking out
      <br /> <br /> <%= link_to 'Return to Products', :root, :class => "btn btn-primary btn-mini delete-review" %> </span>
    </div>
  <% end %>

</section>
