<section class="cart-show">

  <header class="page-header">
    <h1>My Cart</h1>
  </header>
  <% if enhanced_cart.length > 0 %>
    <%= render 'items' %>
  <% else %>
    <div>
      <span> You have 0 Items in Cart please add items before checking out
      <br /> <br /> <button class="btn btn-primary return-btn"><%= link_to 'Return to Products', :root, {:style=>'color:white'} %> </button> </span>
    </div>
  <% end %>

</section>
